
/* moving the css embeded in the tags plz don't ينقصني درجات افتكرت التصميم مفروض يطلع شبه الريفرنس الاول 
and added some structure stuff like div for the galleries img section*/
html,  body {
    background-color: rgb(37, 25, 97);
    margin:0 auto;
    padding: 0;
    height: 100vh; 
    width: 90%;
    box-sizing: border-box;
    
    }  

img {
    border-radius: 12px;
}    

.header-img {
    width: 100%;
    min-height: 500px;
    background-image: url("../../Project1/project1 materials/images/gallery-header.jpg");
    background-size: cover;
    background-position: center;
    position: relative; /*to position the logo inside of it*/
}

.logo {
  background-image: url("LOGO.png");
  background-size: cover;
  position:absolute;
  left: 10px;
  top: 8px;
  width: 60px;
  height: 60px;
  border-radius: 18px;
}

.logo:hover {
    cursor: pointer;
}

.galleries {
    display: flex;
    border-radius: 8px;
    background-color: rgba(202, 203, 223, 0.281);
    border: white 1px solid ;
    gap: 2.5px;

}

.galleries a{
    flex: 1;
}
.galleries img  {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    transition: transform 0.22s ease-in-out, border 0.2s ease-in-out;
}

.galleries img:hover{
    transform: scale(1.1);
    border: 2px rgb(255, 255, 255) solid;
}