
/* moving the css embeded in the tags plz don't ينقصني درجات افتكرت التصميم مفروض يطلع شبه الريفرنس الاول 
and added some structure stuff like div for the galleries img section*/
html,  body {
    background-color: rgb(37, 25, 97);
    margin: 0;
    padding: 0;
    height: 100vh; 
    box-sizing: border-box;
    
    }  

img {
    border-radius: 12px;
}    

.header-img {
    width: 100%;
    min-height: 500px;
    transform: scale(0.85);
    transform-origin: top;
    margin-bottom: -3%;
    background-size: cover;
    position: relative; /*to position the logo inside of it*/
}

.logo {
  position:absolute;
  left: 10px;
  top: 8px;
  width: 60px;
  height: 60px;
  border-radius: 18px;
}

.logo:hover {
    cursor: pointer;
}

.galleries {
    display: flex;
    width: 65%;
    border-radius: 8px;
    background-color: rgba(202, 203, 223, 0.281);
    margin: 0 auto;
    border: white 1px solid ;
    gap: 1px;

}
.galleries img {
    width: 90%;
    height: 90%; 
    transition: transform 0.22s ease-in-out, border 0.2s ease-in-out;
}

.galleries img:hover{
    transform: scale(1.1);
    border: 2px rgb(255, 255, 255) solid;
}